h1 Header Parser api

p Tells you the ip address, language and operating system of the browser. Return the information in as json.

p Try it out:

ul
  li <a href='/api/whoami'>Who am I?</a>

p Check out the code on <a href='https://github.com/CatherineBacon/fcc-header-parser'>github</a>.


p Written and coded by <a href='http://catherinecollinson.com>Catherine Bacon</a>
